<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link href="https://fonts.cdnfonts.com/css/baskerville" rel="stylesheet" />
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Document</title>
  </head>
  <body>
    <style>
      /* Example of applying the font to a class */
      .custom-font {
        font-family: "AvenirNextLTPro-It", sans-serif;
      }
      .form-control::placeholder {
        color: #aaa; /* Light gray color */
        opacity: 0.8; /* Adjust opacity as needed */
        /*font-family: "AvenirNextLTPro-It", sans-serif;*/
        font-weight: 100;
      }
      .form-control:focus {
        /* outline: none !important; Removes the default outline */
        /*border: none !important;  Removes the default border */
        box-shadow: none;
        opacity: 0.6;
        border: 1px solid #59491a !important;

        /* You might need to specify other styles or effects to differentiate focus */
      }
      .form-control {
        padding: 0.3rem 0.5rem; /* Adjust the padding to reduce height */
        /* Adjust line height for better text alignment */
      }
    </style>
    <header class="py-3 border-bottom">
      <div class="container mb-3 d-flex align-items-center justify-content-center">
        <span class="display-3">Hugge Knit Design</span>
      </div>

      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" s role="search">
            <input type="search" class="form-control rounded-5 border-1" placeholder="Search..." aria-label="Search" />
          </form>

          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <li class="nav-item"><a href="{% url 'knittingstore:home' %}" class="nav-link link-body-emphasis px-2 active" aria-current="page">HOME</a></li>
                  <li class="nav-item"><a href="{% url 'knittingstore:category-list' %}" class="nav-link link-body-emphasis px-2" aria-current="page">KNITTING PATTERNS</a></li>
                  <li class="nav-item"><a href="{% url 'knittingstore:about' %}" class="nav-link link-body-emphasis px-2">ABOUT</a></li>
                  <li class="nav-item"><a href="{% url 'knittingstore:contact' %}" class="nav-link link-body-emphasis px-2">CONTACT</a></li>
                </div>
              </div>
            </div>
          </nav>

          <div>
            <a class="mx-2" href="{% url 'knittingstore:cart' %}">EUR</a>
            <a class="mx-2 text-decoration-none text-secondary" href="{% url 'knittingstore:cart' %}">CART ({{ cart_items_count }})</a>
          </div>
        </div>
      </div>
    </header>

    {% block content %} {% endblock content %}

    <footer class="border-top">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
          <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <p class="text-body-secondary">&copy; 2023 Hugge Knit Design. All Rights Reserved.</p>
          </div>

          <div class="col mb-3"></div>

          <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
          </div>

          <div class="col mb-3">
            <h5>SHOP</h5>
            <ul class="nav flex-column">
              {% for category in categories %}
              <li class="nav-item mb-2"><a href="{% url 'knittingstore:product-list' category_slug=category.slug %}" class="nav-link p-0 text-body-secondary">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col mb-3">
            <h5>INFORMATION</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Hugge Knit Design</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms and conditions</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
