{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container" style="background-color: #f3f3f2">
  <h1 class="text-center custom-font">Cart</h1>
  {% if cart_items %}
  <table>
    <thead>
      <tr class="p-2">
        <th class="p-2">Product</th>
        <th class="p-2">Price</th>
        <th class="p-2">Quantity</th>
        {% comment %}
        <th class="p-2">Subtotal</th>
        {% endcomment %}
        <th class="p-2">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td class="p-2">{{ item.name }}</td>
        <td class="p-2">${{ item.price }}</td>

        <td class="p-2">1</td>

        <td class="p-2">
          <a href="{% url 'knittingstore:remove-from-cart' item.id %}">Remove</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="p-2" href="{% url 'knittingstore:checkout' %}">Proceed to Checkout</a>
  {% else %}
  <p>Your cart is empty.</p>
</div>
{% endif %} {% endblock content %}
