{% extends 'base.html' %} {% load static %} {% block content %}
<h1 class="display-6 text-center">{{ category.name }}</h1>
<div class="album bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for product in category.product_set.all %}
      <div class="col">
        <div class="card shadow-sm">
          {% if product.image %} {% comment %} <img src="{{ product.image.url }}" alt="{{ product.name }}" /> {% endcomment %}
          <!-- Assuming 'product' is the object passed to the template -->
          <img src="{{ product.image }}" alt="{{ product.name }}" />
          {% else %}

          <img src="{% static 'images/default_images/default_product_image.jpg' %}" alt="{{ product.name }}" />
          {% endif %}

          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="">
                <a class="text-decoration-none" href="{% url 'knittingstore:product-detail' category.slug product.slug %}">{{ product.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
