{% extends 'base.html' %} {% load static %} {% block content %}

<div class="album bg-body-tertiary">
  <h1 class="display-6 py-3 text-center">CATEGORIES</h1>
  <div class="container pb-3">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
      {% for category in categories %}
      <div class="col">
        <div class="card shadow-sm">
          {% if category.image %}
          <img src="{{ category.image.url }}" alt="{{ category.name }}" />
          {% else %}
          <img src="{% static 'images/default_images/default_category_image.jpg' %}" alt="{{ category.name }}" />
          <!-- Default image or placeholder image if no image is available -->
          {% endif %}
          <div class="card-body text-center">
            <a class="text-decoration-none text-muted" href="{% url 'knittingstore:product-list' category.slug %}">{{ category.name }}</a>
            {% comment %} <a class="text-decoration-none text-muted" href="{% url 'knittingstore:category-detail' category.slug %}">{{ category.name }}</a> {% endcomment %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
