{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6 py-3 text-center">CONTACT</h1>
      <address>
        <p>For all support related matters, please write an email to support@huggeknitdesign.com</p>
        <p>For all other inquiries, please contact info@huggeknitdesign.com</p>
        <br />
        <p>Hugge Knit Design / First name Last name</p>
        <p>XXXXXXXXXXX</p>
        <p>XXXXXXXXXXX</p>
        <p>DENMARK</p>
        <br />
        <p>CVR: XXXXXXX</p>
      </address>
    </div>
  </div>
</div>

{% endblock content %}
