{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6 text-center py-3">Privacy Policy</h1>
      <h3>Information Collection and Use</h3>
      <p>We may collect personal information when you visit our site, subscribe to our newsletter, or fill out a form...</p>

      <h3>Use of Information</h3>
      <p>Any information collected may be used to personalize your experience, improve our website, send periodic emails, or process requests...</p>

      <h3>Protection of Information</h3>
      <p>We implement security measures to maintain the safety of your personal information when you access our site...</p>

      <h3>Cookies</h3>
      <p>We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and interaction...</p>

      <h3>Third-party Disclosure</h3>
      <p>We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties...</p>

      <h3>Consent</h3>
      <p>By using our site, you consent to our online privacy policy...</p>

      <h3>Changes to our Policy</h3>
      <p>If we decide to change our privacy policy, we will update the modification date below...</p>

      <p>Last Modified: [Date]</p>
    </div>
  </div>
</div>

{% endblock content %}
