{% extends 'base.html' %} {% load static %} {% block content %}
<div class="album bg-body-tertiary">
  <div class="container py-3">
    <div class="row">
      <div class="col-6">
        <form method="GET" action="{% url 'knittingstore:product-list' category_slug=category_slug %}">
          {% comment %}
          <p>FILTER BY</p>
          {% endcomment %}
          <div class="d-flex align-items-end">
            <div class="me-2">
              <label for="age_group">AGE GROUP:</label>
              <select name="age_group" id="age_group" class="form-select">
                <option value="">All</option>
                <option value="T">Toddler</option>
                <option value="C">Children</option>
                <option value="A">Adult</option>
              </select>
            </div>
            <div class="me-2">
              <label for="difficulty">DIFFICULTY:</label>
              <select name="difficulty" id="difficulty" class="form-select">
                <option value="">All</option>
                <option value="B">Beginner</option>
                <option value="I">Intermediate</option>
                <option value="E">Expert</option>
              </select>
            </div>
            <div class="me-2">
              <label for="product_type">TYPE:</label>
              <select name="product_type" id="product_type" class="form-select">
                <option value="">All</option>
                <option value="H">Hat</option>
                <option value="S">Scarf</option>
                <option value="C">Coat</option>
                <option value="SW">Sweater</option>
                <option value="O">Other</option>
              </select>
            </div>
            <div class="me-2">
              <input class="btn btn-outline-secondary" type="submit" value="Filter" />
            </div>
          </div>
        </form>
      </div>
      <!-- Sorting buttons -->
      <div class="col-md-6 d-flex align-items-center">
        <form method="GET" action="{% url 'knittingstore:product-list' category_slug=category_slug %}" class="w-100">
          <input type="hidden" name="age_group" value="{{ request.GET.age_group }}" />
          <input type="hidden" name="difficulty" value="{{ request.GET.difficulty }}" />
          <input type="hidden" name="product_type" value="{{ request.GET.product_type }}" />

          <div class="d-flex align-items-end">
            <div class="me-2">
              <label for="sort_by_price" class="me-2 mb-0">SORT BY:</label>
              <select name="sort_by_price" id="sort_by_price" class="form-select me-2">
                <option value="asc">Price, Low to High</option>
                <option value="desc">Price, High to Low</option>
              </select>
            </div>
            <div>
              <button type="submit" class="btn btn-outline-secondary">Apply</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
      {% for product in products %}
      <div class="col">
        <div class="card shadow-sm">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" />
          {% else %}
          <img src="{% static 'images/default_images/default_product_image.jpg' %}" alt="{{ product.name }}" />
          {% endif %}

          <div class="card-body">
            <p class="card-title">{{ product.name }}</p>
            {% comment %}
            <p class="card-text">{{ product.description }}</p>
            {% endcomment %}
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="text-decoration-none" href="{% url 'knittingstore:product-detail' category_slug=category_slug product_slug=product.slug %}">View</a>
              </div>
              <small class="text-muted">Price: ${{ product.price }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% comment %}
</div>
{% endcomment %}

<!-- Pagination links -->
{% comment %}
<div class="container mt-4">
  {% endcomment %}
  <div class="py-4">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        <li class="page-item disabled">
          <span class="page-link">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
        </li>
        {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ products.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock content %}
