{% extends 'base.html' %} {% load static %} {% block content %}

<div class="album bg-body-tertiary">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <form method="GET" action="{% url 'knittingstore:product-list' category_slug=category_slug %}">
          <label for="age_group">Age Group:</label>
          <select name="age_group" id="age_group">
            <option value="">All</option>
            <option value="T">Toddler</option>
            <option value="C">Children</option>
            <option value="A">Adult</option>
          </select>

          <label for="difficulty">Difficulty:</label>
          <select name="difficulty" id="difficulty">
            <option value="">All</option>
            <option value="B">Beginner</option>
            <option value="I">Intermediate</option>
            <option value="E">Expert</option>
          </select>

          <label for="product_type">Type:</label>
          <select name="product_type" id="product_type">
            <option value="">All</option>
            <option value="H">Hat</option>
            <option value="S">Scarf</option>
            <option value="C">Coat</option>
            <option value="SW">Sweater</option>
            <option value="O">Other</option>
            <!-- Add other types -->
          </select>

          <input class="btn btn-outline-secondary" type="submit" value="Filter" />
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for product in products %}

      <div class="col">
        <div class="card shadow-sm">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" />
          {% else %}
          <img src="{% static 'images/default_images/default_product_image.jpg' %}" alt="{{ product.name }}" />
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              {% comment %}
              <div class="btn-group"><a href="{% url 'knittingstore:product-detail' category_slug=category.slug product_slug=product.slug %}">View</a></div>
              {% endcomment %}

              <small class="text-muted">Price: ${{ product.price }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %} ---------------------------------------
