<!-- seasonal_block.html -->
{% load static %} 

<style>
  h6 {
    color: #1c1b1b;
    font-family: "AvenirNextLTPro-It", sans-serif;
  }
  p {
    color: #59491a;
    font-family: "AvenirNextLTPro-It", sans-serif;
  }
</style>
<div class="row">
  <h1 class="display-6 py-5 text-center">SEASONAL SELECTIONS</h1>
  <div class="col-sm-12 col-md-6 d-flex align-items-center">
    <div class="d-flex flex-column">
    <h6 class="title-color">NORDIC FROST SWEATER</h6>
    <p class="text-start">
      Embrace the enchanting chill of winter with our Nordic Frost Sweater. Crafted from a blend of premium merino wool and cashmere, this sweater brings together comfort and elegance. Its intricate Nordic pattern evokes the timeless allure of snowy landscapes, while the soft knit provides warmth even in the coldest weather. Wrap yourself in the embrace of Nordic traditions with this cozy, stylish piece.
    </p>
  </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="image">
      <img src="{% static 'images/default_images/photo-seasonal-1.jpg' %}" alt="villa" class="img-fluid">
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="col-sm-12 col-md-6 order-2 order-md-1">
      <img src="{% static 'images/default_images/photo-seasonal-2.jpg' %}" alt="villa" class="img-fluid">
  </div>
  <div class="col-sm-12 col-md-6 order-1 order-md-2 d-flex align-items-center">
    <div class="d-flex flex-column align-items-end">
    <h6 class="title-color ">ARCTIC COZY SWEATER</h6>
    <p class="text-end">
      Experience unparalleled comfort in our Arctic Cozy Sweater. Meticulously crafted with a blend of alpaca and mohair, this sweater is as warm as a hug. Its unique blend of natural fibers ensures supreme softness and insulation against the biting cold. Perfect for snowy adventures or fireside evenings, this sweater embodies the essence of warmth and style.
    </p>
  </div>
</div>
</div>
<div class="row pt-3">
  <div class="col-sm-12 col-md-6 d-flex align-items-center">
    <div class="d-flex flex-column">
    <h6 class="title-color">ALPINE SNOWFLAKE SWEATER</h6>
    <p class="text-start">
      Our Alpine Snowflake Sweater is the epitome of winter elegance. Made from a luxurious blend of lambswool and angora, it's a delightful harmony of sophistication and comfort. Adorned with intricate snowflake patterns, this sweater exudes classic alpine charm. Slip into this cozy piece and let its softness and warmth take you on a journey through snowy landscapes.
    </p>
  </div>
</div>
  <div class="col-sm-12 col-md-6">
    <img src="{% static 'images/default_images/photo-seasonal-3.jpg' %}" alt="villa" class="img-fluid">
  </div>
</div>
  <div class="row pt-3">
    <div class="col-sm-12 col-md-6 order-2 order-md-1">
      <img src="{% static 'images/default_images/photo-seasonal-4.jpg' %}" alt="villa" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-6 order-1 order-md-2 d-flex align-items-center">
      <div class="d-flex flex-column align-items-end">
    <h6 class="title-color">GLACIER WOOL SWEATER</h6>
      <p class="text-end">
        Brave the frost in our Glacier Wool Blend sweater. This piece, crafted from a blend of high-quality wool and cashmere, ensures a snug fit and exceptional warmth. Its durable yet supple fabric makes it a versatile choice for any winter occasion. Feel the coziness and resilience of glacier-inspired knitwear with this exquisite sweater.
      </p>
    </div>
  </div>
  </div>
</div>