{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6 text-center py-3">Terms and Conditions</h1>
      <h3>1. Introduction</h3>
      <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use...</p>

      <h3>2. Intellectual Property Rights</h3>
      <p>Unless otherwise stated, we own the intellectual property rights for all material on this website...</p>

      <h3>3. Restrictions</h3>
      <p>You are specifically restricted from...</p>

      <h3>4. Your Content</h3>
      <p>In these terms and conditions, "Your Content" shall mean any audio, video text, images, or other material you choose to display on this website...</p>

      <h3>5. Limitation of Liability</h3>
      <p>In no event shall we or our suppliers be liable for any damages...</p>

      <h3>6. Governing Law</h3>
      <p>These terms and conditions are governed by and construed in accordance with the laws of [Your Country]...</p>

      <h3>7. Changes to Terms</h3>
      <p>We reserve the right to revise these terms of service at any time without notice...</p>

      <h3>8. Contact Information</h3>
      <p>If you have any questions about these Terms and Conditions, please contact us...</p>
    </div>
  </div>
</div>

{% endblock content %}
